.red {
  background-color: red;
}
.login {
  background: green;
}
.button {
  background: blue;
}
.sm {
  padding: 1.5rem 0.8rem;
  border: none;
}
.m {
  padding: 2rem 0.8rem;
  border: none;
}
.leg {
  padding: 1rem 1.2rem;
  border: none;
}
